<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cambria:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./css/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <nav class="navigation-menu">
        <div class="navigation-menu__overlay" onclick="toggleMenuClicked()"></div>
        <button type="button" class="hamburger-menu" onclick="toggleMenuClicked()">
            <span class="material-icons" id="open-icon">menu</span>
            <span class="material-icons" id="close-icon">close</span>
        </button>
        <h1 class="site-identity-logo"><a href="\TSF">TSF BANK</a></h1>
        <section class="navigation-menu__labels">
            <a href="/">Home</a>
            <a href="/AddUser">Add User</a>
            <a href="/Transfer">Transfer Money</a>
            <a href="/TransHisto">Transaction History</a>
        </section>
    </nav><br><br>


    <div class="transfercont1">
        <div class="container mt-5 bg-primary text-center text-light fw-30 p-2">
            <h3>Transfer Money</h3>
        </div>
        <br><br>
            <div class="row">
                <div class="col">
                    <div class="table-responsive-sm">
                    <table class="table table-hover table-sm table-striped table-condensed table-bordered">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center py-2">Id</th>
                            <th scope="col" class="text-center py-2">Name</th>
                            <th scope="col" class="text-center py-2">E-Mail</th>
                            <th scope="col" class="text-center py-2">Balance</th>
                            <th scope="col" class="text-center py-2">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((user) => { %>
                              <tr>
                                <td class="text-center py-2"><%= user.id %></td>
                                <td class="text-center py-2"><%= user.name %></td>
                                <td class="text-center py-2"><%= user.email %></td>
                                <td class="text-center py-2"><%= user.amount %></td>
                                <td><a href="ChooseUser?id=<%=user.id %>"> <button type="button" class="btn">Transact</button></a></td> 
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                    </table>
                    </div>
                </div>
            </div> 
         </div>

    <div class="foot">
        <footer class="text-center text-lg-start bg-dark text-muted text-light cus-foot">
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(194, 152, 152, 0.05); color: white;">
                Made By Param Bavarva, © 2021 Copyright:
                <a class="bold" href="/">Spark Foundation</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>